<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Books App</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/books/add-book">Add Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/books">Show Books</a>
      </li>
    </ul>
  </div>
</div>
