<div class="container-fluid container-fluid-custom">
  <p>
    Focus helps you keep track of all the tasks you need to complete, whether
    they're work-related, personal, or related to any other aspect of your life.
    <!-- <br />  -->
    It allows you to allocate time slots for each task, helping you manage your
    time more effectively and ensuring that you don't overlook important
    deadlines or appointments. <br />
    It also serves as an external memory aid, relieving you of the burden of
    trying to remember everything you need to do. Instead, you can simply refer
    to your list whenever you need to see what's next. By breaking down larger
    tasks into smaller, manageable ones and having a clear plan of action, Focus
    can help reduce feelings of overwhelm and anxiety. <br />
    You can also use Focus' Timer app to set a specific duration for a given
    task and receive notifications when that duration elapses. <br />
    Sign up and start using Focus for free!
  </p>
</div>
