<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative">With Focus ...</h1>
        <p class="fs-4 mb-4">You can turn your goals into actionable steps!</p>
        <img class="mb-5" src="/img/img2.svg" alt="" />
        <a href="/auth/google" class="btn btn-primary btn-lg"
          >Try it, it's FREE!</a
        >
      </div>
      <!-- <div class="col-3"> -->
      <!-- <img src="/img/img2.svg" alt="" /> -->
      <!-- </div> -->
    </div>
  </main>
</div>
